:root {
  --background-color--background-primary: var(--base-color-neutral--neutral-lighter);
  --text-color--text-primary: var(--base-color-neutral--neutral-darkest);
  --4-209: 4.209rem;
  --3-157: 3.157rem;
  --2-369: 2.369rem;
  --1-777: 1.777rem;
  --1-333: 1.333rem;
  --1-125: 1.125rem;
  --link-color--link-primary: var(--base-color-neutral--tt-green);
  --base-color-brand--green-100: #ecebe4;
  --base-color-neutral--neutral-light: #adada8;
  --base-color-brand--black: black;
  --border-color--border-primary: var(--base-color-neutral--black);
  --base-color-brand--green-70: #b1b1a1;
  --base-color-neutral--tt-green: #797c64;
  --base-color-neutral--white: white;
  --base-color-brand--green-30: #575b49;
  --base-color-neutral--black: #313638;
  --base-color-brand--green-40: #6f735d;
  --base-color-brand--white: white;
  --base-color-brand--green-90: #d8d8d1;
  --base-color-neutral--neutral-dark: #444;
  --base-color-brand--green-10: #282a22;
  --base-color-brand--green-20: #3f4336;
  --base-color-brand--green-50: #888b70;
  --base-color-brand--green-80: #c5c4b9;
  --base-color-brand--green-60: #9d9e88;
  --base-color-neutral--neutral-lighter: #ecebe4;
  --base-color-neutral--neutral-lightest: #fff8f3;
  --border-color--border-secondary: var(--base-color-neutral--neutral-light);
  --light-card-bg: #faf9f0;
  --light-card-border: #dbdad4;
  --base-color-neutral--neutral: #666;
  --base-color-neutral--tt-timber: #d27530;
  --5-61: 5.61rem;
  --base-color-neutral--neutral-darkest: #41472f;
}